Prepare a prediction model for profit of 50_startups data.
Do transformations for getting better predictions of profit and
make a table containing R^2 value for each prepared model.

R&D Spend -- Research and devolop spend in the past few years
Administration -- spend on administration in the past few years
Marketing Spend -- spend on Marketing in the past few years
State -- states from which data is collected
Profit  -- profit of each state in the past few years

In [1]:
import pandas as pd
import statsmodels.formula.api as smf
import scipy.stats as stats
import seaborn as sns

In [2]:
df=pd.read_csv(r'F:\pk\01_Data_science\ASSIGNMENTS\05_Multiple_linear_regression\50_Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [6]:
df2=pd.get_dummies(df,columns=['State'],drop_first=True)
df2.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

import pandas_profiling as pp
EDA_report= pp.ProfileReport(df)
EDA_report.to_file(output_file='50statupreport.html')

In [7]:
df3=df2.rename(columns={'R&D Spend':'RDSpend','Marketing Spend':'MarketingSpend','State_New York':'State_New_York'})

In [8]:

df3.head()

,RDSpend,Administration,MarketingSpend,Profit,State_Florida,State_New_York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [9]:
model=smf.ols("Profit~RDSpend+Administration+MarketingSpend+State_Florida+State_New_York", data=df3).fit()

In [10]:
#Coefficients
model.params

Intercept         50125.343832
RDSpend               0.806023
Administration       -0.027004
MarketingSpend        0.026980
State_Florida       198.788793
State_New_York      -41.887019
dtype: float64

In [11]:
#t and p-Values
print(model.tvalues, '\n', model.pvalues)

Intercept          7.280560
RDSpend           17.368580
Administration    -0.517012
MarketingSpend     1.573889
State_Florida      0.058970
State_New_York    -0.012864
dtype: float64
 Intercept         4.444178e-09
RDSpend           2.578772e-21
Administration    6.077373e-01
MarketingSpend    1.226769e-01
State_Florida     9.532429e-01
State_New_York    9.897941e-01
dtype: float64

In [12]:
#R squared values
(model.rsquared,model.rsquared_adj)

(0.9507524843355148, 0.945156175737278)

In [13]:
df['Predicted_profit']=model.predict(df3)

In [14]:
df.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Predicted_profit
0,165349.20,136897.80,471784.10,New York,192261.83,192390.571364
1,162597.70,151377.59,443898.53,California,191792.06,189071.320106
2,153441.51,101145.55,407934.54,Florida,191050.39,182276.186735
3,144372.41,118671.85,383199.62,New York,182901.99,173584.976191
4,142107.34,91391.77,366168.42,Florida,166187.94,172277.133818

In [38]:
from pickle import dump
from pickle import load

In [39]:
dump(model, open('multiple_linear_model.sav','wb'))

In [64]:
loaded_model = load(open('multiple_linear_model.sav','rb'))

result = loaded_model.predict(features)

print(result)

0    51157.086682
dtype: float64